<div id="task-{{ task.id }}" class="p-2 border rounded mb-2">
    <form
        hx-post="{% url 'tasks:update' task.id %}"
        hx-target="#task-{{ task.id }}"
        hx-swap="outerHTML"
        class="d-flex gap-2"
    >
        {% csrf_token %}

        <input
            type="text"
            name="title"
            value="{{ task.title }}"
            class="form-control form-control-sm"
            required
            autofocus
        >

        <button type="submit" class="icon-btn">
            <i class="bi bi-check-lg"></i>
        </button>
    </form>
</div>