<div class="task-item d-flex align-items-center justify-content-between p-2 border rounded mb-2"
     id="task-{{ task.id }}">

    <div class="d-flex align-items-center gap-2">
        <input
            type="checkbox"
            {% if task.is_done %}checked{% endif %}
            hx-post="{% url 'tasks:toggle_done' task.id %}"
            hx-target="#task-{{ task.id }}"
            hx-swap="outerHTML"
        >

        <span class="{% if task.is_done %}text-decoration-line-through text-muted{% endif %}">
            {{ task.title }}
        </span>

        {% if task.deadline %}
            <small class="text-muted">
                <i class="bi bi-calendar"></i>
                {{ task.deadline|date:"d.m.Y" }}
            </small>
        {% endif %}
    </div>

    <!-- Actions (hidden until hover) -->
    <div class="task-actions">
        <!-- Choose deadline -->
        <button
                class="icon-btn calendar-btn ms-2"
                hx-get="{% url 'tasks:update_deadline' task.id %}"
                hx-target="closest .task-item"
                hx-swap="outerHTML"
            >
                <i class="bi bi-calendar-date"></i>
            </button>
        <!-- Edit -->
        <button
            class="icon-btn"
            hx-get="{% url 'tasks:update' task.id %}"
            hx-target="#task-{{ task.id }}"
            hx-swap="outerHTML"
        >
            <i class="bi bi-pencil"></i>
        </button>

        <!-- Delete -->
        <button
            class="icon-btn"
            hx-delete="{% url 'tasks:delete' task.id %}"
            hx-target="#task-{{ task.id }}"
            hx-swap="outerHTML"
            hx-confirm="Delete this task?"
        >
            <i class="bi bi-trash"></i>
        </button>

    </div>
</div>